<%={{ }}=%>
{
  "thrift_module" : "{{program:name}}",
  "source_path" : "{{program:normalizedIncludePrefix}}{{program:name}}",
  "py_namespace" : "{{program:py_namespace}}",
  "wiki_address" : "{{program:wiki_address}}",
  {{#program:enums?}}
  "enumerations" :
  {
    {{> enums}}
  }
  {{/program:enums?}}
}
