<%!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><% > Autogen%>
#pragma once

#include <array>
#include <cstddef>
#include <thrift/lib/cpp/Thrift.h>

#include "<%program:include_prefix%><%program:name%>_types.h"

<%#program:enums%>
<% > common/namespace_cpp2_begin%>


struct _<%enum:name%>EnumDataStorage {
  using type = <%enum:name%>;
  static constexpr const std::size_t size = <%enum:size%>;
  static constexpr const std::array<<%enum:name%>, <%enum:size%>> values = {{
<%#enum:values%><%!
%>    <%enum:name%>::<%enumValue:name%>,
<%/enum:values%>
  }};
  static constexpr const std::array<folly::StringPiece, <%enum:size%>> names = {{
<%#enum:values%><%!
%>    "<%enumValue:name%>",
<%/enum:values%>
  }};
};

<% > common/namespace_cpp2_end%>

namespace apache { namespace thrift {

template <> struct TEnumDataStorage<<% > common/namespace_cpp2%><%enum:name%>> {
  using storage_type = <% > common/namespace_cpp2%>_<%enum:name%>EnumDataStorage;
};

}} // apache::thrift
<%/program:enums%>


