<%!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><% > Autogen%>
#include "<%program:include_prefix%><%program:name%>_types.h"
#include "<%program:include_prefix%><%program:name%>_types.tcc"

#include <thrift/lib/cpp2/gen/module_types_cpp.h>

#include "<%program:include_prefix%><%program:name%>_data.h"

<% > module_types_cpp/declare_enums%>
<%#program:structs%>
<% > module_types_cpp/tcc_struct_traits%>
<% > module_types_cpp/frozen%>
<%#struct:union?%>
<% > module_types_cpp/declare_union_types%>
<%/struct:union?%>

<% > common/namespace_cpp2_begin%>


<%^struct:union?%>
<%^struct:cpp_noncopyable%>
<%#struct:fields_contain_cpp_ref_unique_either?%>
<% > module_types_cpp/copy_ctor%>


<% > module_types_cpp/assign_overload%>


<%/struct:fields_contain_cpp_ref_unique_either?%>
<%/struct:cpp_noncopyable%>
<% > module_types_cpp/declare_members%>


<%^struct:cpp_noncomparable%>
<% > module_types_cpp/eq_overload%>
<%#struct:is_struct_orderable?%>


<% > module_types_cpp/struct_operator_less%>
<%/struct:is_struct_orderable?%>
<%/struct:cpp_noncomparable%>


<% > module_types_cpp/getters_setters%>

<% > module_types_cpp/swap%>
<%/struct:union?%>
<%#struct:union?%>
<% > module_types_cpp/union_declare_members%>

<%^struct:cpp_noncomparable%>
<% > module_types_cpp/union_eq_overload%>
<%#struct:is_struct_orderable?%>


<% > module_types_cpp/union_operator_less%>
<%/struct:is_struct_orderable?%>
<%/struct:cpp_noncomparable%>

<% > module_types_cpp/union_setters%>
<% > module_types_cpp/union_swap%>
<%/struct:union?%>

template void <%struct:name%>::readNoXfer<>(apache::thrift::BinaryProtocolReader*);
template uint32_t <%struct:name%>::write<>(apache::thrift::BinaryProtocolWriter*) const;
template uint32_t <%struct:name%>::serializedSize<>(apache::thrift::BinaryProtocolWriter const*) const;
template uint32_t <%struct:name%>::serializedSizeZC<>(apache::thrift::BinaryProtocolWriter const*) const;
template void <%struct:name%>::readNoXfer<>(apache::thrift::CompactProtocolReader*);
template uint32_t <%struct:name%>::write<>(apache::thrift::CompactProtocolWriter*) const;
template uint32_t <%struct:name%>::serializedSize<>(apache::thrift::CompactProtocolWriter const*) const;
template uint32_t <%struct:name%>::serializedSizeZC<>(apache::thrift::CompactProtocolWriter const*) const;
<%#program:json?%>
template void <%struct:name%>::readNoXfer<>(apache::thrift::SimpleJSONProtocolReader*);
template uint32_t <%struct:name%>::write<>(apache::thrift::SimpleJSONProtocolWriter*) const;
template uint32_t <%struct:name%>::serializedSize<>(apache::thrift::SimpleJSONProtocolWriter const*) const;
template uint32_t <%struct:name%>::serializedSizeZC<>(apache::thrift::SimpleJSONProtocolWriter const*) const;
<%/program:json?%>
<%#program:nimble?%>
template void <%struct:name%>::readNoXfer<>(apache::thrift::NimbleProtocolReader*);
template uint32_t <%struct:name%>::write<>(apache::thrift::NimbleProtocolWriter*) const;
template uint32_t <%struct:name%>::serializedSize<>(apache::thrift::NimbleProtocolWriter const*) const;
template uint32_t <%struct:name%>::serializedSizeZC<>(apache::thrift::NimbleProtocolWriter const*) const;
<%/program:nimble?%>

<%! enforce that if this thrift file is generated with extern template instances
    for simple-json protocol then all its dependencies are too %>
<%#struct:fields%>
<%#field:type%>
<%#type:transitively_refers_to_struct?%>
static_assert(
    ::apache::thrift::detail::st::gen_check_json<
        <%struct:name%>,
        <%type:fatal_type_class%>,
        <% > types/type%>>,
    "inconsistent use of json option");
<%/type:transitively_refers_to_struct?%>
<%/field:type%>
<%/struct:fields%>

<%! if this struct is generated with extern template instances for nimble
    protocol, enforce that all its dependencies are too %>
<%#struct:fields%>
<%#field:type%>
<%#type:transitively_refers_to_struct?%>
static_assert(
    ::apache::thrift::detail::st::gen_check_nimble<
        <%struct:name%>,
        <%type:fatal_type_class%>,
        <% > types/type%>>,
    "inconsistent use of nimble option");
<%/type:transitively_refers_to_struct?%>
<%/field:type%>
<%/struct:fields%>

<% > common/namespace_cpp2_end%>
<%/program:structs%>
