<%!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><% > Autogen%>
#pragma once

#include <folly/futures/Future.h>
#include <thrift/lib/cpp/TApplicationException.h>
#include <thrift/lib/cpp2/async/AsyncClient.h>
#include <thrift/lib/cpp2/async/FutureRequest.h>
#include "<%service:include_prefix%><%service:program_name%>_types.h"
<%#service:frozen2?%>
#include "<%service:include_prefix%><%service:program_name%>_layouts.h"
<%/service:frozen2?%>
<%#service:extends%>
#include "<%service:include_prefix%><%service:name%>AsyncClient.h"
<%/service:extends%>
<%#service:thrift_includes%>
#include "<%program:include_prefix%><%program:name%>_types.h"
<%/service:thrift_includes%>
<%#service:cpp_includes%>
#include <%cpp_include%>
<%/service:cpp_includes%>
<%#service:any_streams?%>
#include <yarpl/Flowable.h>
<%/service:any_streams?%>

namespace folly {
  class IOBuf;
  class IOBufQueue;
}
namespace apache { namespace thrift {
  class Cpp2RequestContext;
  class BinaryProtocolReader;
  class CompactProtocolReader;
<%#service:frozen2?%>
  class Frozen2ProtocolReader;
<%/service:frozen2?%>
  namespace transport { class THeader; }
}}

<% > common/namespace_cpp2_begin%>


<% > service_h/async_client%>


<% > common/namespace_cpp2_end%>
