<%!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>
<% > Autogen%>
#include "<%service:programIncludePrefix%><%service:name%>.h"

#include "<%service:programIncludePrefix%><%service:name%>.tcc"

#include <thrift/lib/cpp2/protocol/Protocol.h>
#include <thrift/lib/cpp2/protocol/BinaryProtocol.h>
#include <thrift/lib/cpp2/protocol/CompactProtocol.h>
<% > common/namespace_cpp2_begin%>


std::unique_ptr<apache::thrift::AsyncProcessor> <%service:name%>SvIf::getProcessor() {
  return std::make_unique<<%service:name%>AsyncProcessor>(this);
}
<%#service:functions%><%#function:returnType%>

<%^type:resolves_to_complex_return?%>
<% > Type%> MyServiceSvIf::<%function:name%>() {
  throw apache::thrift::TApplicationException("Function <%function:name%> is unimplemented");
}

<%#type:void?%>
folly::Future<folly::Unit> MyServiceSvIf::future_<%function:name%>() {
<%/type:void?%>
<%^type:void?%>
folly::Future<<% > Type%>> MyServiceSvIf::future_<%function:name%>() {
<%/type:void?%>
  return apache::thrift::detail::si::future([&] { return <%function:name%>(); });
}

void MyServiceSvIf::async_tm_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<<% > Type%>>> callback) {
  apache::thrift::detail::si::async_tm(this, std::move(callback), [&] { return future_<%function:name%>(); });
}
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
void MyServiceSvIf::<%function:name%>(<% > Type%>& /*_return*/) {
  throw apache::thrift::TApplicationException("Function <%function:name%> is unimplemented");
}

folly::Future<std::unique_ptr<<% > Type%>>> MyServiceSvIf::future_<%function:name%>() {
  return apache::thrift::detail::si::future_returning_uptr([&](<% > Type%>& _return) { <%function:name%>(_return); });
}

void MyServiceSvIf::async_tm_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<std::unique_ptr<<% > Type%>>>> callback) {
  apache::thrift::detail::si::async_tm(this, std::move(callback), [&] { return future_<%function:name%>(); });
}
<%/type:resolves_to_complex_return?%>
<%/function:returnType%><%/service:functions%>
<%#service:functions%><%#function:returnType%>

<%^type:resolves_to_complex_return?%>
<%#type:void?%>
void <%service:name%>SvNull::<%function:name%>() {}
<%/type:void?%>
<%^type:void?%>
<% > Type%> <%service:name%>SvNull::<%function:name%>() {
  return 0;
}
<%/type:void?%>
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
void <%service:name%>SvNull::<%function:name%>(<% > Type%>& /*_return*/) {}
<%/type:resolves_to_complex_return?%>
<%/function:returnType%><%/service:functions%>

const char* <%service:name%>AsyncProcessor::getServiceName() {
  return "<%service:name%>";
}

folly::Optional<std::string> <%service:name%>AsyncProcessor::getCacheKey(folly::IOBuf* buf, apache::thrift::protocol::PROTOCOL_TYPES protType) {
  return apache::thrift::detail::ap::get_cache_key(buf, protType, cacheKeyMap_);
}

void <%service:name%>AsyncProcessor::process(std::unique_ptr<apache::thrift::ResponseChannel::Request> req, std::unique_ptr<folly::IOBuf> buf, apache::thrift::protocol::PROTOCOL_TYPES protType, apache::thrift::Cpp2RequestContext* context, folly::EventBase* eb, apache::thrift::concurrency::ThreadManager* tm) {
  apache::thrift::detail::ap::process(this, std::move(req), std::move(buf), protType, context, eb, tm);
}

bool <%service:name%>AsyncProcessor::isOnewayMethod(const folly::IOBuf* buf, const apache::thrift::transport::THeader* header) {
  return apache::thrift::detail::ap::is_oneway_method(buf, header, onewayMethods_);
}

std::unordered_set<std::string> <%service:name%>AsyncProcessor::onewayMethods_ {};
std::unordered_map<std::string, int16_t> <%service:name%>AsyncProcessor::cacheKeyMap_ {};
const <%service:name%>AsyncProcessor::BinaryProtocolProcessMap& <%service:name%>AsyncProcessor::getBinaryProtocolProcessMap() {
  return binaryProcessMap_;
}

<%^service:functions?%>
const <%service:name%>AsyncProcessor::BinaryProtocolProcessMap <%service:name%>AsyncProcessor::binaryProcessMap_ {};
<%/service:functions?%>
<%#service:functions?%>
const <%service:name%>AsyncProcessor::BinaryProtocolProcessMap <%service:name%>AsyncProcessor::binaryProcessMap_ {
<%#service:functions%><%#function:returnType%>
  {"<%function:name%>", &MyServiceAsyncProcessor::_processInThread_<%function:name%><apache::thrift::BinaryProtocolReader, apache::thrift::BinaryProtocolWriter>},
<%/function:returnType%><%/service:functions%>
};
<%/service:functions?%>

const <%service:name%>AsyncProcessor::CompactProtocolProcessMap& <%service:name%>AsyncProcessor::getCompactProtocolProcessMap() {
  return compactProcessMap_;
}

<%^service:functions?%>
const <%service:name%>AsyncProcessor::CompactProtocolProcessMap <%service:name%>AsyncProcessor::compactProcessMap_ {};
<%/service:functions?%>
<%#service:functions?%>
const <%service:name%>AsyncProcessor::CompactProtocolProcessMap <%service:name%>AsyncProcessor::compactProcessMap_ {
<%#service:functions%><%#function:returnType%>
  {"<%function:name%>", &MyServiceAsyncProcessor::_processInThread_<%function:name%><apache::thrift::CompactProtocolReader, apache::thrift::CompactProtocolWriter>},
<%/function:returnType%><%/service:functions%>
};
<%/service:functions?%>

<% > common/namespace_cpp2_end%>

namespace apache { namespace thrift {

}} // apache::thrift
