<%!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>
<% > Autogen%>
#pragma once

#include <thrift/lib/cpp2/ServiceIncludes.h>
#include <thrift/lib/cpp2/async/HeaderChannel.h>
#include <thrift/lib/cpp/TApplicationException.h>
#include <thrift/lib/cpp2/async/FutureRequest.h>
#include <folly/futures/Future.h>

<%#service:thrift_includes%>
#include "<%program:normalizedIncludePrefix%><%program:name%>_types.h"
<%/service:thrift_includes%>

<%#service:cpp_includes%>
<%#system?%>#include <%path%><%/system?%><%!
%><%^system?%>#include "<%path%>"<%/system?%>
<%/service:cpp_includes%>

#include "<%service:programIncludePrefix%><%service:programName%>_types.h"

namespace folly {
  class IOBuf;
  class IOBufQueue;
}
namespace apache { namespace thrift {
  class Cpp2RequestContext;
  class BinaryProtocolReader;
  class CompactProtocolReader;
  namespace transport { class THeader; }
}}

<% > common/namespace_cpp2_begin%>


class <%service:name%>SvAsyncIf {
 public:
  virtual ~<%service:name%>SvAsyncIf() {}
<%#service:functions%><%#function:returnType%>
<%^type:resolves_to_complex_return?%>
  virtual void async_tm_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<<% > Type%>>> callback) = 0;
  virtual void async_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<<% > Type%>>> callback) = delete;
<%#type:void?%>
  virtual folly::Future<folly::Unit> future_<%function:name%>() = 0;
<%/type:void?%>
<%^type:void?%>
  virtual folly::Future<<% > Type%>> future_<%function:name%>() = 0;
<%/type:void?%>
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
  virtual void async_tm_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<std::unique_ptr<<% > Type%>>>> callback) = 0;
  virtual void async_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<std::unique_ptr<<% > Type%>>>> callback) = delete;
  virtual folly::Future<std::unique_ptr<<% > Type%>>> future_<%function:name%>() = 0;
<%/type:resolves_to_complex_return?%>
<%/function:returnType%><%/service:functions%>
};

class <%service:name%>AsyncProcessor;

class <%service:name%>SvIf : public <%service:name%>SvAsyncIf, public apache::thrift::ServerInterface {
 public:
  typedef <%service:name%>AsyncProcessor ProcessorType;
  std::unique_ptr<apache::thrift::AsyncProcessor> getProcessor() override;
<%#service:functions%><%#function:returnType%>
<%^type:resolves_to_complex_return?%>
  virtual <% > Type%> <%function:name%>();
<%#type:void?%>
  folly::Future<folly::Unit> future_<%function:name%>() override;
<%/type:void?%>
<%^type:void?%>
  folly::Future<<% > Type%>> future_<%function:name%>() override;
<%/type:void?%>
  void async_tm_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<<% > Type%>>> callback) override;
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
  virtual void <%function:name%>(<% > Type%>& /*_return*/);
  folly::Future<std::unique_ptr<<% > Type%>>> future_<%function:name%>() override;
  void async_tm_<%function:name%>(std::unique_ptr<apache::thrift::HandlerCallback<std::unique_ptr<<% > Type%>>>> callback) override;
<%/type:resolves_to_complex_return?%>
<%/function:returnType%><%/service:functions%>
};

class <%service:name%>SvNull : public <%service:name%>SvIf {
 public:
<%#service:functions%><%#function:returnType%>
<%^type:resolves_to_complex_return?%>
  <% > Type%> <%function:name%>() override;
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
  void <%function:name%>(<% > Type%>& /*_return*/) override;
<%/type:resolves_to_complex_return?%>
<%/function:returnType%><%/service:functions%>
<%/service:functions%>
};

class <%service:name%>AsyncProcessor : public ::apache::thrift::GeneratedAsyncProcessor {
 public:
  const char* getServiceName() override;
  using BaseAsyncProcessor = void;
 protected:
  <%service:name%>SvIf* iface_;
  folly::Optional<std::string> getCacheKey(folly::IOBuf* buf, apache::thrift::protocol::PROTOCOL_TYPES protType) override;
 public:
  void process(std::unique_ptr<apache::thrift::ResponseChannel::Request> req, std::unique_ptr<folly::IOBuf> buf, apache::thrift::protocol::PROTOCOL_TYPES protType, apache::thrift::Cpp2RequestContext* context, folly::EventBase* eb, apache::thrift::concurrency::ThreadManager* tm) override;
 protected:
  bool isOnewayMethod(const folly::IOBuf* buf, const apache::thrift::transport::THeader* header) override;
 private:
  static std::unordered_set<std::string> onewayMethods_;
  static std::unordered_map<std::string, int16_t> cacheKeyMap_;
 public:
  using BinaryProtocolProcessFunc = ProcessFunc<<%service:name%>AsyncProcessor, apache::thrift::BinaryProtocolReader>;
  using BinaryProtocolProcessMap = ProcessMap<BinaryProtocolProcessFunc>;
  static const <%service:name%>AsyncProcessor::BinaryProtocolProcessMap& getBinaryProtocolProcessMap();
 private:
  static const <%service:name%>AsyncProcessor::BinaryProtocolProcessMap binaryProcessMap_;
 public:
  using CompactProtocolProcessFunc = ProcessFunc<<%service:name%>AsyncProcessor, apache::thrift::CompactProtocolReader>;
  using CompactProtocolProcessMap = ProcessMap<CompactProtocolProcessFunc>;
  static const <%service:name%>AsyncProcessor::CompactProtocolProcessMap& getCompactProtocolProcessMap();
 private:
  static const <%service:name%>AsyncProcessor::CompactProtocolProcessMap compactProcessMap_;
 private:
<%#service:functions%><%#function:returnType%>
  template <typename ProtocolIn_, typename ProtocolOut_>
  void _processInThread_<%function:name%>(std::unique_ptr<apache::thrift::ResponseChannel::Request> req, std::unique_ptr<folly::IOBuf> buf, std::unique_ptr<ProtocolIn_> iprot, apache::thrift::Cpp2RequestContext* ctx, folly::EventBase* eb, apache::thrift::concurrency::ThreadManager* tm);
  template <typename ProtocolIn_, typename ProtocolOut_>
  void process_<%function:name%>(std::unique_ptr<apache::thrift::ResponseChannel::Request> req, std::unique_ptr<folly::IOBuf> buf, std::unique_ptr<ProtocolIn_> iprot,apache::thrift::Cpp2RequestContext* ctx,folly::EventBase* eb, apache::thrift::concurrency::ThreadManager* tm);
  template <class ProtocolIn_, class ProtocolOut_>
<%#type:void?%>
  static folly::IOBufQueue return_<%function:name%>(int32_t protoSeqId, apache::thrift::ContextStack* ctx);
<%/type:void?%>
<%^type:void?%>
  static folly::IOBufQueue return_<%function:name%>(int32_t protoSeqId, apache::thrift::ContextStack* ctx, <% > Type%> const& _return);
<%/type:void?%>
  template <class ProtocolIn_, class ProtocolOut_>
  static void throw_<%function:name%>(std::unique_ptr<apache::thrift::ResponseChannel::Request> req,int32_t protoSeqId,apache::thrift::ContextStack* ctx,std::exception_ptr ep,apache::thrift::Cpp2RequestContext* reqCtx);
  template <class ProtocolIn_, class ProtocolOut_>
  static void throw_wrapped_<%function:name%>(std::unique_ptr<apache::thrift::ResponseChannel::Request> req,int32_t protoSeqId,apache::thrift::ContextStack* ctx,folly::exception_wrapper ew,apache::thrift::Cpp2RequestContext* reqCtx);
<%/function:returnType%><%/service:functions%>
 public:
  <%service:name%>AsyncProcessor(<%service:name%>SvIf* iface) :
      iface_(iface) {}

  virtual ~<%service:name%>AsyncProcessor() {}
};

class <%service:name%>AsyncClient : public apache::thrift::TClientBase {
 public:
  virtual const char* getServiceName();
  typedef std::unique_ptr<apache::thrift::RequestChannel, folly::DelayedDestruction::Destructor> channel_ptr;

  virtual ~<%service:name%>AsyncClient() {}

  <%service:name%>AsyncClient(std::shared_ptr<apache::thrift::RequestChannel> channel) :
      channel_(channel) {
    connectionContext_.reset(new apache::thrift::Cpp2ConnContext);
  }

  apache::thrift::RequestChannel*  getChannel() {
    return this->channel_.get();
  }

  apache::thrift::HeaderChannel*  getHeaderChannel() {
    return dynamic_cast<apache::thrift::HeaderChannel*>(this->channel_.get());
  }
<%#service:functions%><%#function:returnType%>
  virtual void <%function:name%>(std::unique_ptr<apache::thrift::RequestCallback> callback);
  virtual void <%function:name%>(apache::thrift::RpcOptions& rpcOptions, std::unique_ptr<apache::thrift::RequestCallback> callback);
 private:
  virtual void <%function:name%>Impl(bool useSync, apache::thrift::RpcOptions& rpcOptions, std::unique_ptr<apache::thrift::RequestCallback> callback);
 public:
<%^type:resolves_to_complex_return?%>
  virtual <% > Type%> sync_<%function:name%>();
  virtual <% > Type%> sync_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
<%#type:void?%>
  virtual folly::Future<folly::Unit> future_<%function:name%>();
  virtual folly::Future<folly::Unit> future_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
  virtual folly::Future<std::pair<folly::Unit, std::unique_ptr<apache::thrift::transport::THeader>>> header_future_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
<%/type:void?%>
<%^type:void?%>
  virtual folly::Future<<% > Type%>> future_<%function:name%>();
  virtual folly::Future<<% > Type%>> future_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
  virtual folly::Future<std::pair<<% > Type%>, std::unique_ptr<apache::thrift::transport::THeader>>> header_future_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
<%/type:void?%>
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
  virtual void sync_<%function:name%>(<% > Type%>& _return);
  virtual void sync_<%function:name%>(apache::thrift::RpcOptions& rpcOptions, <% > Type%>& _return);
  virtual folly::Future<<% > Type%>> future_<%function:name%>();
  virtual folly::Future<<% > Type%>> future_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
  virtual folly::Future<std::pair<<% > Type%>, std::unique_ptr<apache::thrift::transport::THeader>>> header_future_<%function:name%>(apache::thrift::RpcOptions& rpcOptions);
<%/type:resolves_to_complex_return?%>
  virtual void <%function:name%>(folly::Function<void (::apache::thrift::ClientReceiveState&&)> callback);
<%#type:void?%>
  static folly::exception_wrapper recv_wrapped_<%function:name%>(::apache::thrift::ClientReceiveState& state);
  static void recv_<%function:name%>(::apache::thrift::ClientReceiveState& state);
  // Mock friendly virtual instance method
  virtual void recv_instance_<%function:name%>(::apache::thrift::ClientReceiveState& state);
  virtual folly::exception_wrapper recv_instance_wrapped_<%function:name%>(::apache::thrift::ClientReceiveState& state);
  template <typename Protocol_>
  void <%function:name%>T(Protocol_* prot, bool useSync, apache::thrift::RpcOptions& rpcOptions, std::unique_ptr<apache::thrift::RequestCallback> callback);
  template <typename Protocol_>
  static folly::exception_wrapper recv_wrapped_<%function:name%>T(Protocol_* prot, ::apache::thrift::ClientReceiveState& state);
  template <typename Protocol_>
  static void recv_<%function:name%>T(Protocol_* prot, ::apache::thrift::ClientReceiveState& state);
<%/type:void?%>
<%^type:void?%>
  static folly::exception_wrapper recv_wrapped_<%function:name%>(<% > Type%>& _return, ::apache::thrift::ClientReceiveState& state);
<%^type:resolves_to_complex_return?%>
  static <% > Type%> recv_<%function:name%>(::apache::thrift::ClientReceiveState& state);
  // Mock friendly virtual instance method
  virtual <% > Type%> recv_instance_<%function:name%>(::apache::thrift::ClientReceiveState& state);
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
  static void recv_<%function:name%>(<% > Type%>& _return, ::apache::thrift::ClientReceiveState& state);
  // Mock friendly virtual instance method
  virtual void recv_instance_<%function:name%>(<% > Type%>& _return, ::apache::thrift::ClientReceiveState& state);
<%/type:resolves_to_complex_return?%>
  virtual folly::exception_wrapper recv_instance_wrapped_<%function:name%>(<% > Type%>& _return, ::apache::thrift::ClientReceiveState& state);
  template <typename Protocol_>
  void <%function:name%>T(Protocol_* prot, bool useSync, apache::thrift::RpcOptions& rpcOptions, std::unique_ptr<apache::thrift::RequestCallback> callback);
  template <typename Protocol_>
  static folly::exception_wrapper recv_wrapped_<%function:name%>T(Protocol_* prot, <% > Type%>& _return, ::apache::thrift::ClientReceiveState& state);
  template <typename Protocol_>
<%^type:resolves_to_complex_return?%>
  static <% > Type%> recv_<%function:name%>T(Protocol_* prot, ::apache::thrift::ClientReceiveState& state);
<%/type:resolves_to_complex_return?%>
<%#type:resolves_to_complex_return?%>
  static void recv_<%function:name%>T(Protocol_* prot, <% > Type%>& _return, ::apache::thrift::ClientReceiveState& state);
<%/type:resolves_to_complex_return?%>
<%/type:void?%>
<%/function:returnType%><%/service:functions%>
 protected:
  std::unique_ptr<apache::thrift::Cpp2ConnContext> connectionContext_;
  std::shared_ptr<apache::thrift::RequestChannel> channel_;
};

<% > common/namespace_cpp2_end%>

namespace apache { namespace thrift {

}} // apache::thrift
