<%!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>
<% > Autogen%>
#include "<%service:programIncludePrefix%><%service:name%>.h"

#include "<%service:programIncludePrefix%><%service:name%>.tcc"

#include <thrift/lib/cpp2/protocol/Protocol.h>
#include <thrift/lib/cpp2/protocol/BinaryProtocol.h>
#include <thrift/lib/cpp2/protocol/CompactProtocol.h>
<%#service:namespaces%>
namespace <%namespace:name%> {<%^last?%> <%/last?%><%!
%><%/service:namespaces%>

std::unique_ptr<apache::thrift::AsyncProcessor> <%!
    %><%service:name%>SvIf::getProcessor() {
  return folly::make_unique<<%service:name%>AsyncProcessor>(this);
}

<%#service:functions%>
<% > ReturnType%> <%service:name%>SvIf::<%function:name%>(<%!
    %><% > SyncArgList%>) {
  throw apache::thrift::TApplicationException("Function <%function:name%> <%!
      %>is unimplemented");
}

<%#function:stackArgs?%><% > FutureReturnType%> <%/function:stackArgs?%><%!
    %><%^function:stackArgs?%><%!
        %><% > FutureUniquePtrReturnType%> <%!
    %><%/function:stackArgs?%><%!
    %><%service:name%>SvIf::future_<%function:name%>(<% > FnArgs%>) {
  <%#function:complexReturnType?%>
  return apache::thrift::detail::si::future_returning<%!
      %><%^function:stackArgs?%>_uptr<%/function:stackArgs?%><%!
      %>([&](<% > OutParamType%>) { <%function:name%>(_return<%!
      %><% > CommaIfArgs%><% > MoveArgList%>); });
  <%/function:complexReturnType?%>
  <%^function:complexReturnType?%>
  return apache::thrift::detail::si::future([&] { return <%function:name%>(<%!
      %><% > MoveArgList%>); });
  <%/function:complexReturnType?%>
}

void <%service:name%>SvIf::<% > AsyncSvFn%> {
  apache::thrift::detail::si::<%!
  %><%#function:eb?%><%!
      %><%#function:oneway?%><%!
          %>async_eb_oneway<%!
      %><%/function:oneway?%><%!
      %><%^function:oneway?%><%!
          %>async_eb<%!
      %><%/function:oneway?%><%!
      %>(this, std::move(callback), <%!
      %>[this<% > CommaIfArgs%><% > MoveCaptureList%>]() mutable { <%!
      %>return future_<%function:name%>(<%!
  %><%/function:eb?%><%!
  %><%^function:eb?%><%!
      %><%#function:oneway?%><%!
          %>async_tm_oneway<%!
      %><%/function:oneway?%><%!
      %><%^function:oneway?%><%!
          %>async_tm<%!
      %><%/function:oneway?%><%!
      %>(this, std::move(callback), [&] { return future_<%function:name%>(<%!
  %><%/function:eb?%><%!
  %><% > MoveArgList%><%!
  %>); });
}

<%/service:functions%>
<%#service:functions%>
<%^function:eb?%>
<% > ReturnType%> <%service:name%>SvNull::<%function:name%>(<%!
    %><% > SyncArgList%>) {<%!
%><%^function:complexReturnType?%><%!
%><%#function:returnType%><%!
%><%^type:void?%>
  return 0;
<%/type:void?%><%!
%><%/function:returnType%><%!
%><%/function:complexReturnType?%><%!
%>}

<%/function:eb?%>
<%/service:functions%>
const char* <%service:name%>AsyncProcessor::getServiceName() {
  return "<%service:name%>";
}

folly::Optional<std::string> <%service:name%>AsyncProcessor::getCacheKey(<%!
    %>folly::IOBuf* buf, apache::thrift::protocol::PROTOCOL_TYPES protType) {
  return apache::thrift::detail::ap::get_cache_key(buf, protType, cacheKeyMap_);
}

void <%service:name%>AsyncProcessor::process(<%!
    %>std::unique_ptr<apache::thrift::ResponseChannel::Request> req, <%!
    %>std::unique_ptr<folly::IOBuf> buf, <%!
    %>apache::thrift::protocol::PROTOCOL_TYPES protType, <%!
    %>apache::thrift::Cpp2RequestContext* context, <%!
    %>folly::EventBase* eb, <%!
    %>apache::thrift::concurrency::ThreadManager* tm) {
  apache::thrift::detail::ap::process(this, std::move(req), std::move(buf), <%!
      %>protType, context, eb, tm);
}

bool <%service:name%>AsyncProcessor::isOnewayMethod(const folly::IOBuf* buf, <%! 
    %>const apache::thrift::transport::THeader* header) {
  return apache::thrift::detail::ap::is_oneway_method(buf, header, <%!
      %>onewayMethods_);
}

std::unordered_set<std::string> <%service:name%>AsyncProcessor::onewayMethods_ {<%!
%><%#service:onewayfunctions%>
  "<%function:name%>"<%^last?%>,<%/last?%><%!
%><%#last?%>
};<%!
%><%/last?%><%!
%><%/service:onewayfunctions%><%!
%><%^service:onewayfunctions%>};<%/service:onewayfunctions%>
std::unordered_map<std::string, int16_t> <%service:name%>AsyncProcessor::<%!
    %>cacheKeyMap_ {};
<%#service:protocols%>
const <%service:name%>AsyncProcessor::<%protocol:longName%>ProcessMap& <%!
    %><%service:name%>AsyncProcessor::get<%protocol:longName%>ProcessMap() {
  return <%protocol:name%>ProcessMap_;
}

<%^service:separate_processmap%>
<% > ProcessMap%>

<%/service:separate_processmap%>
<%/service:protocols%>
<%#service:namespaces%>
}<%/service:namespaces%><%!
%> // <%!
%><%#service:namespaces%><%!
    %><%namespace:name%><%^last?%>::<%/last?%><%!
%><%/service:namespaces%>
namespace apache { namespace thrift {

}} // apache::thrift