{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!

Usually included in places where a container item is being processed. You have
access to a C object and need to return or convert it to a Python object. The
type in this case is probably a type:listElemType, type:setElemType,
type:keyType, or type:valueType.

By convention, it assumes the c++ structure that is being manipulated is named
citem.

}}{{#type:bool?}}citem{{/type:bool?}}{{!
}}{{#type:byte?}}citem{{/type:byte?}}{{!
}}{{#type:i16?}}citem{{/type:i16?}}{{!
}}{{#type:i32?}}citem{{/type:i32?}}{{!
}}{{#type:i64?}}citem{{/type:i64?}}{{!
}}{{#type:double?}}citem{{/type:double?}}{{!
}}{{#type:string?}}citem.decode(){{/type:string?}}{{!
}}{{#type:struct}}{{> ModulePath}}.{{type:name}}.create(make_shared[{{> ModulePath}}.c{{struct:name}}](citem)){{/type:struct}}{{!
}}{{#type:list?}}{{type:flat_name}}.create(make_shared[{{> ContainerCythonFieldType}}](citem)){{/type:list?}}{{!
}}{{#type:set?}}{{type:flat_name}}.create(make_shared[{{> ContainerCythonFieldType}}](citem)){{/type:set?}}{{!
}}{{#type:map?}}{{type:flat_name}}.create(make_shared[{{> ContainerCythonFieldType}}](citem)){{/type:map?}}{{!
}}{{#type:enum}}{{> ModulePath}}.{{enum:name}}(<int> citem){{/type:enum}}
