{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!
Assuming type is a container that is a map, output the key and value separated
by a comma, as required in a c++ header or source file. This is just a
convenience to make the code a bit easier to read in all the places its called.
}}{{#type:keyType}}{{> ContainerCppFieldType}}{{/type:keyType}},{{!
}}{{#type:valueType}}{{>ContainerCppFieldType}}{{/type:valueType}}
