{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!

Included from CythonServices.pyx, it defines a Python wrapper for each type
of C++ promise that needs to be returned to C++. Cython doesn't support
templating on Pythno classes. This file is necessary primarily because the
cPromise shared_ptr needs to point to a promise that wraps a specific return
type in C++. The Python wrapper then gets passed into a coroutine where the
promise can have it's value set after the handler coroutine has finished
executing.

}}

cdef extern from "<utility>" namespace "std":
{{! binary and string both map to string, which causes an
"ambiguous overloaded method" error.  The overhead of assuming it's
always there is low, let's do that.}}
    cdef cFollyPromise[unique_ptr[string]] move(cFollyPromise[unique_ptr[string]])
{{#program:returnTypes}}
    {{^type:string?}}{{^type:binary?}}
    cdef cFollyPromise[{{>CythonFieldType}}] move(
        cFollyPromise[{{>CythonFieldType}}])
    {{/type:binary?}}{{/type:string?}}
{{/program:returnTypes}}
{{^program:returnTypes}}
    pass
{{/program:returnTypes}}
{{#program:returnTypes}}

cdef class Promise_{{type:flat_name}}:
    cdef cFollyPromise[{{>CythonFieldType}}] cPromise

    @staticmethod
    cdef create(cFollyPromise[{{>CythonFieldType}}] cPromise):
        inst = <Promise_{{type:flat_name}}>{{!
        }}Promise_{{type:flat_name}}.__new__({{!
        }}Promise_{{type:flat_name}})
        inst.cPromise = move(cPromise)
        return inst
{{/program:returnTypes}}
