{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}
from cpython.ref cimport PyObject
from thrift.lib.py3.thrift_server cimport (
  ServiceInterface,
  cTApplicationException
)
from folly_futures cimport cFollyPromise, cFollyUnit, c_unit
include "{{program:name}}_types.pxi"
include "{{program:name}}_promises.pxi"
include "{{program:name}}_callbacks.pxi"


{{#program:services}}
from {{program:name}}_services_wrapper cimport c{{service:name}}Interface
{{/program:services}}

{{#program:services}}
cdef class {{service:name}}Interface(ServiceInterface):
    def __cinit__(self):
        self.interface_wrapper = c{{service:name}}Interface(<PyObject *> self)

    def __init__(self, loop=None):
        self.loop = loop or asyncio.get_event_loop()

    {{#service:functions}}
    async def {{function:name}}(
            self{{#function:args}},
            {{field:name}}{{/function:args}}):
        raise NotImplementedError("async def {{function:name}} is not implemented")


    {{/service:functions}}
{{/program:services}}
