{{!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!

Called specifically from types.pyx when initializing the individual attributes
on a struct.

}}{{#type:iobuf?}}{{!
  }}deref((<__iobuf.IOBuf?>{{field:py_name}}).c_clone()){{!
}}{{/type:iobuf?}}{{!
}}{{#type:iobufRef?}}{{!
  }}(<__iobuf.IOBuf?>{{field:py_name}}).c_clone(){{!
}}{{/type:iobufRef?}}{{!
}}{{#type:flexibleBinary?}}{{!
  }}{{> types/CythonCppType}}(move(<string>{{field:py_name}})){{!
}}{{/type:flexibleBinary?}}{{!
}}{{^type:hasCustomTypeBehavior?}}{{!
}}{{#field:reference?}}{{!
  }}{{#field:unique_ref?}}{{!
    For unique references, we just make a copy of the target object - it's not
    especially efficient but there isn't much else we can do from a shared ptr
    }}make_unique[{{> types/CythonCppType}}](deref({{> types/CythonCastOrCreatePythonType}}._cpp_obj)){{!
  }}{{/field:unique_ref?}}{{!
  }}{{#field:shared_ref?}}{{!
    }}{{> types/CythonCastOrCreatePythonType}}._cpp_obj{{!
  }}{{/field:shared_ref?}}{{!
  }}{{#field:shared_const_ref?}}{{!
    }}{{#type:externalProgram?}}{{> common/ModulePath}}.{{/type:externalProgram?}}{{!
    }}const_pointer_cast({{> types/CythonCastOrCreatePythonType}}._cpp_obj){{!
  }}{{/field:shared_const_ref?}}{{!
}}{{/field:reference?}}{{^field:reference?}}{{!
}}{{#type:base?}}{{!
  }}{{#type:string?}}thrift.py3.types.move(thrift.py3.types.bytes_to_string({{/type:string?}}{{!
  }}{{#type:binary?}}thrift.py3.types.move(thrift.py3.types.bytes_to_string({{/type:binary?}}{{!
  }}{{field:py_name}}{{!
  }}{{#type:string?}}.encode('utf-8'))){{/type:string?}}{{!
  }}{{#type:binary?}})){{/type:binary?}}{{!
}}{{/type:base?}}{{!
}}{{#type:enum?}}<{{> types/CythonCppType}}><int>{{field:py_name}}{{/type:enum?}}{{!
}}{{#type:struct?}}{{!
    }}deref((<{{> types/CythonPythonType }}?> {{field:py_name}})._cpp_obj){{!
}}{{/type:struct?}}{{!
}}{{#type:container?}}{{!
    }}deref({{> types/CythonPythonType }}({{field:py_name}})._cpp_obj){{!
}}{{/type:container?}}{{/field:reference?}}{{!
}}{{/type:hasCustomTypeBehavior?}}
