{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!

Included on Cython structs in properties for retrieving child values from
that struct. Most types can be returned directly and converted to python objects
by Cython. Complex objects need to be wrapped or decoded appropriately. Structs
are special because we try to memoize their wrappers on the parent handler
if they have been previously retrieved.

}}{{#field:reference?}}{{!
}}if self.__{{field:name}} is None:
    if not deref(self._cpp_obj).{{field:name}}:
        return None
    {{! Use an aliasing constructor since the object we're returning is still
        managed by the top-level object, possible via a unique_ptr }}
    self.__{{field:name}} = {{> types/CythonPythonType}}.create(aliasing_constructor_{{field:name}}({{!
      }}self._cpp_obj, {{!
        If this is a shared_const ref, we cast away the constness as part of
        creating the new object (since the new object needs a plain shared_ptr).
        This is unsafe in theory but seems ok in practice, since we never modify
        our underlying object.
      }}{{#field:shared_const_ref?}}<{{> types/CythonCppType}}*>{{/field:shared_const_ref?}}{{!
      }}(deref(self._cpp_obj).{{field:name}}.get())))
return self.__{{field:name}}{{!
}}{{/field:reference?}}{{!
}}{{^field:reference?}}{{!
}}{{#type:bool?}}{{!
  }}return <pbool> self._cpp_obj.get().{{field:name}}{{!
}}{{/type:bool?}}{{!
}}{{#type:byte?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:byte?}}{{!
}}{{#type:i16?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:i16?}}{{!
}}{{#type:i32?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:i32?}}{{!
}}{{#type:i64?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:i64?}}{{!
}}{{#type:double?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:double?}}{{!
}}{{#type:float?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:float?}}{{!
}}{{#type:string?}}{{!
  }}return (<bytes>(self._cpp_obj.get().{{field:name}})).decode('UTF-8'){{!
}}{{/type:string?}}{{!
}}{{#type:binary?}}{{!
  }}return self._cpp_obj.get().{{field:name}}{{!
}}{{/type:binary?}}{{!
}}{{#type:enum}}{{!
  }}return translate_cpp_enum_to_python({{!
    }}{{> types/CythonPythonType}}, {{!
    }}<int>deref(self._cpp_obj).{{field:name}}){{!
}}{{/type:enum}}{{!
}}{{#type:struct?}}{{!
}}if self.__{{field:name}} is None:
    self.__{{field:name}} = {{> types/CythonPythonType}}.create({{!
      }}make_shared[{{> types/CythonCppType}}]({{!
      }}deref(self._cpp_obj).{{field:name}}))
return self.__{{field:name}}{{!
}}{{/type:struct?}}{{!
}}{{#type:container?}}{{!
}}if self.__{{field:name}} is None:
    self.__{{field:name}} = {{> types/CythonPythonType}}.create({{!
      }}make_shared[{{> types/CythonCppType}}]({{!
      }}deref(self._cpp_obj).{{field:name}}))
return self.__{{field:name}}{{!
}}{{/type:container?}}{{!
}}{{/field:reference?}}
