{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!

Normally Python Types and Extension Types (cdef class) can be subsituted
with None, to prevent this we add "not None" but this doesn't work on
numerical types

First Space is important
}}{{#type:bool?}} not None{{/type:bool?}}{{!
}}{{#type:string?}} not None{{/type:string?}}{{!
}}{{#type:binary?}} not None{{/type:binary?}}{{!
}}{{#type:struct?}} not None{{/type:struct?}}{{!
}}{{#type:container?}} not None{{/type:container?}}{{!
}}{{#type:enum?}} not None{{/type:enum?}}
