{{!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{!

Included from CythonServices.pyx, this file defines the core adapter between
the C++ service and the Python handler. The C++ classes defined in
ServicesWrapper.h and ServicesWrapper.cpp call into this file using a generated
header. It calls into the call_cy_.... functions, passing it a promise and
the arguments. That function wraps the promise and arguments in Python types
appropriately, then passes them into a coroutine defined in this same file.

That coroutine then looks up the handler coroutine, which does the appropriate
work and then returns a Python value. The coroutine accesses the C++ promise
from the Python wrapper of that promise that was passed into the coroutine and
sets the converted value on that promise.

}}

{{#program:services}}
{{#service:functions}}
cdef api void call_cy_{{service:name}}_{{function:name}}(
    object self,
    Cpp2RequestContext* ctx,
    cFollyPromise[{{#function:returnType}}{{!
            }}{{> services/CythonReturnTypeCppType}}{{!
        }}{{/function:returnType}}]{{!
    }} cPromise{{#function:args}},
    {{#field:type}}{{!
            }}{{^function:stack_arguments?}}{{> services/CythonFieldType}}{{/function:stack_arguments?}}{{!
            }}{{#function:stack_arguments?}}{{> types/CythonCppType}}{{/function:stack_arguments?}}{{!
        }}{{/field:type}} {{field:py_name}}{{/function:args}}
):{{! Gets called from a python Executor }}
    __promise = Promise_{{#function:returnType}}{{> types/CythonCppTypeIdent}}{{/function:returnType}}.create(move_promise_{{#function:returnType}}{{> types/CythonCppTypeIdent}}{{/function:returnType}}(cPromise))
    {{#function:args}}
    arg_{{field:py_name}} = {{#field:type}}{{!
            }}{{^function:stack_arguments?}}{{> CythonCppToPython}}{{/function:stack_arguments?}}{{!
            }}{{#function:stack_arguments?}}{{> types/CythonCppValueToPython}}{{/function:stack_arguments?}}{{!
        }}{{/field:type}}
    {{/function:args}}
    __context = RequestContext.create(ctx)
    if PY_VERSION_HEX >= 0x030702F0:  # 3.7.2 Final
        {{! python 3.7 contextvars support }}
        __context_token = __THRIFT_REQUEST_CONTEXT.set(__context)
        __context = None
    asyncio.get_event_loop().create_task(
        {{service:name}}_{{function:name}}_coro(
            self,
            __context,
            __promise{{#function:args}},
            arg_{{field:py_name}}{{/function:args}}
        )
    )
    if PY_VERSION_HEX >= 0x030702F0:  # 3.7.2 Final
        __THRIFT_REQUEST_CONTEXT.reset(__context_token)

async def {{service:name}}_{{function:name}}_coro(
    object self,
    object ctx,
    Promise_{{#function:returnType}}{{> types/CythonCppTypeIdent}}{{/function:returnType}}{{!
    }} promise{{#function:args}},
    {{field:py_name}}{{/function:args}}
):
    try:
        {{! only use this path if python < 3.7.2 Final (where ctx is not None) and has pass_context }}
        if ctx and getattr(self.{{function:name}}, "pass_context", False):
            result = await self.{{function:name}}(ctx,{{#function:args}}
                      {{field:py_name}}{{^last?}},{{/last?}}{{/function:args}})
        else:
            result = await self.{{function:name}}({{#function:args}}
                      {{field:py_name}}{{^last?}},{{/last?}}{{/function:args}})
        {{#function:returnType}}
        {{#type:container?}}
        result = {{> types/CythonPythonType}}(result)
        {{/type:container?}}
        {{/function:returnType}}
    {{#function:exceptions}}
    {{#field:type}}
    except {{> types/CythonPythonType}} as ex:
        promise.cPromise.setException(deref((<{{> types/CythonPythonType}}> ex)._cpp_obj))
    {{/field:type}}
    {{/function:exceptions}}
    except __ApplicationError as ex:
        # If the handler raised an ApplicationError convert it to a C++ one
        promise.cPromise.setException(cTApplicationException(
            ex.type.value, ex.message.encode('UTF-8')
        ))
    except Exception as ex:
        print(
            "Unexpected error in service handler {{service:name.}}{{function:name}}:",
            file=sys.stderr)
        traceback.print_exc()
        promise.cPromise.setException(cTApplicationException(
            cTApplicationExceptionType__UNKNOWN, repr(ex).encode('UTF-8')
        ))
    else:
        promise.cPromise.setValue({{#function:returnType}}{{> services/CythonReturnValue}}{{/function:returnType}})

{{/service:functions}}
{{/program:services}}
