{{!

  Copyright (c) Meta Platforms, Inc. and affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{#type:typedef?}}{{!
    }}{{#type:typedef_type}}{{> WriteRequestType}}{{/type:typedef_type}}{{!
}}{{/type:typedef?}}{{!
}}{{^type:typedef?}}{{!
}}{{#type:set?}}oprot.writeSetBegin(new TSet(TType.{{#partial types.ttype type=type:true_type.elem_type}}, _iter{{field:prevNestedDepth}}.size()));
        for ({{#type:set_elem_type}}{{> Type}}{{/type:set_elem_type}} _iter{{field:nestedDepth}} : _iter{{field:prevNestedDepth}}) {
          {{!
          }}{{#type:set_elem_type}}{{!
          }}{{field:nestedDepth++}}{{> WriteRequestType}}{{field:nestedDepth--}}
          {{/type:set_elem_type}}
        }
        oprot.writeSetEnd();{{!
}}{{/type:set?}}{{!

}}{{#type:list?}}{{!
}}oprot.writeListBegin(new TList(TType.{{#partial types.ttype type=type:true_type.elem_type}}, _iter{{field:prevNestedDepth}}.size()));
        for ({{#type:list_elem_type}}{{> Type}}{{/type:list_elem_type}} _iter{{field:nestedDepth}} : _iter{{field:prevNestedDepth}}) {
          {{!
          }}{{#type:list_elem_type}}{{!
          }}{{field:nestedDepth++}}{{> WriteRequestType}}{{field:nestedDepth--}}
          {{/type:list_elem_type}}
        }
        oprot.writeListEnd();{{!
}}{{/type:list?}}{{!

}}{{#type:map?}}{{!
}}oprot.writeMapBegin(new TMap(TType.{{#partial types.ttype type=type:true_type.key_type}}, TType.{{#partial types.ttype type=type:true_type.val_type}}, _iter{{field:prevNestedDepth}}.size()));
        for (Map.Entry<{{#type:key_type}}{{> BoxedType}}{{/type:key_type}}, {{#type:value_type}}{{> BoxedType}}{{/type:value_type}}> _iter{{field:nestedDepth}} : _iter{{field:prevNestedDepth}}.entrySet()) {
          {{!
          }}{
            {{#type:key_type}}{{!
            }}{{field:nestedDepth++}}{{!
            }}{{> BoxedType}} _iter{{field:nestedDepth}} = _iter{{field:prevNestedDepth}}.getKey();
            {{field:nestedDepth++}}{{!
            }}{{> WriteRequestType}}{{!
            }}{{field:nestedDepth--}}{{!
            }}{{field:nestedDepth--}}{{!
            }}{{/type:key_type}}
          }
          {
            {{#type:value_type}}{{!
            }}{{field:nestedDepth++}}{{!
            }}{{> BoxedType}} _iter{{field:nestedDepth}} = _iter{{field:prevNestedDepth}}.getValue();
            {{field:nestedDepth++}}{{!
            }}{{> WriteRequestType}}{{!
            }}{{field:nestedDepth--}}{{!
            }}{{field:nestedDepth--}}{{!
            }}{{/type:value_type}}
          }
        }
        oprot.writeMapEnd();{{!
}}{{/type:map?}}{{!

}}{{#type:structured?}}{{!
}}_iter{{field:prevNestedDepth}}.write0(oprot);{{/type:structured?}}{{!

}}{{#type:enum?}}{{!
}}oprot.writeI32(_iter{{field:prevNestedDepth}} == null ? 0 : _iter{{field:prevNestedDepth}}.getValue());{{/type:enum?}}{{!

}}{{#type:binary?}}{{!
}}oprot.writeBinary({{^type:javaType}}java.nio.ByteBuffer.wrap{{/type:javaType}}(_iter{{field:prevNestedDepth}}));{{/type:binary?}}{{!

}}{{#type:string?}}{{!
}}oprot.writeString(_iter{{field:prevNestedDepth}});{{/type:string?}}{{!

}}{{#type:bool?}}{{!
}}oprot.writeBool(_iter{{field:prevNestedDepth}});{{/type:bool?}}{{!

}}{{#type:byte?}}{{!
}}oprot.writeByte(_iter{{field:prevNestedDepth}});{{/type:byte?}}{{!

}}{{#type:i16?}}{{!
}}oprot.writeI16(_iter{{field:prevNestedDepth}});{{/type:i16?}}{{!

}}{{#type:i32?}}{{!
}}oprot.writeI32(_iter{{field:prevNestedDepth}});{{/type:i32?}}{{!

}}{{#type:i64?}}{{!
}}oprot.writeI64(_iter{{field:prevNestedDepth}});{{/type:i64?}}{{!

}}{{#type:float?}}{{!
}}oprot.writeFloat(_iter{{field:prevNestedDepth}});{{/type:float?}}{{!

}}{{#type:double?}}{{!
}}oprot.writeDouble(_iter{{field:prevNestedDepth}});{{/type:double?}}{{!

}}{{/type:typedef?}}{{!
}}
