<%!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><%#struct:is_large?%>
<%struct:name%>::<% > module_types_h/base_ctor%>
<%#struct:message%>

<%struct:name%>::<%struct:name%>(std::string __message) : <%struct:name%>() {
  <%struct:message%> = std::move(__message);
}
<%/struct:message%>


<%struct:name%>::~<%struct:name%>() {}

<%/struct:is_large?%>
<%^struct:is_eligible_for_constexpr?%>
<%struct:name%>::<% > module_types_cpp/move_ctor%>
<%struct:name%>& <%struct:name%>::operator=(FOLLY_MAYBE_UNUSED <%struct:name%>&& other) noexcept {
<%#struct:lazy_fields?%>
    const auto relaxed = std::memory_order_relaxed;
    __fbthrift_protocol_ = other.__fbthrift_protocol_;
    __fbthrift_serializedData_ = std::move(other.__fbthrift_serializedData_);
<%/struct:lazy_fields?%>
<%#struct:fields_in_layout_order%>
    this-><%field:cpp_storage_name%> = std::move(other.<%field:cpp_storage_name%>);
<%#field:lazy?%>
    {
      const auto isDeserialized = other.__fbthrift_isDeserialized_.<%field:cpp_name%>.load(relaxed);
      __fbthrift_isDeserialized_.<%field:cpp_name%>.store(isDeserialized, relaxed);
      other.__fbthrift_isDeserialized_.<%field:cpp_name%>.store(isDeserialized | ::apache::thrift::detail::LazyDeserializationState::DESERIALIZED, relaxed);
    }
<%/field:lazy?%>
<%/struct:fields_in_layout_order%>
<%#struct:isset_fields?%>
    __isset = other.__isset;
<%/struct:isset_fields?%>
    return *this;
}

<%/struct:is_eligible_for_constexpr?%>

<% > module_types_cpp/fragile_ctor%>

<% > module_types_cpp/lazy_deserialization%>

void <%struct:name%>::__clear() {
  // clear all fields
<%#struct:fields%><%#field:type%><%!
%><%#type:resolves_to_base_or_enum?%><%!
  %><%^field:cpp_ref?%><%!
  TODO(dokwon): Replace special cases after replacing StringTraits and cpp.indirection with cpp.adapter.
    %>  <% > types/apply_indirection_pre%><% > field/member%><% > types/apply_indirection_post%> = <%!
    %><%#field:cpp_adapter%>decltype(<% > field/member%>)()<%/field:cpp_adapter%><%!
    %><%^field:cpp_adapter%><% > field/default%><%/field:cpp_adapter%>;<%!
  %><%/field:cpp_ref?%><%!
  %><%#field:cpp_ref?%><%!
    %><%^field:optional?%><%!
      %>  <% > field/member%> = ::apache::thrift::detail::make_mutable_smart_ptr<<%field:cpp_storage_type%>>();<%!
    %><%/field:optional?%><%!
    %><%#field:optional?%><%!
      %>  <% > field/member%>.reset();<%!
    %><%/field:optional?%><%!
  %><%/field:cpp_ref?%>
<%/type:resolves_to_base_or_enum?%>
<%#type:resolves_to_container?%>
<%#field:cpp_ref?%>
<%^field:optional?%>
  <% > field/member%> = ::apache::thrift::detail::make_mutable_smart_ptr<<%field:cpp_storage_type%>>();
<%/field:optional?%>
<%#field:optional?%>
  <% > field/member%>.reset();
<%/field:optional?%>
<%/field:cpp_ref?%>
<%^field:cpp_ref?%>
  <% > field/member%>.clear();
<%/field:cpp_ref?%>
<%/type:resolves_to_container?%>
<%#type:non_empty_struct?%>
<%^field:cpp_ref?%>
  <%#field:cpp_adapter%><% > field/member%> = decltype(<% > field/member%>)();<%/field:cpp_adapter%><%^field:cpp_adapter%><% > field/member%>.__clear();<%/field:cpp_adapter%>
<%/field:cpp_ref?%>
<%#field:cpp_ref_unique?%>
<%^field:optional?%>
  if (<% > field/member%>) <% > field/member%>->__clear();
<%/field:optional?%>
<%/field:cpp_ref_unique?%>
<%#field:cpp_ref_shared?%>
<%^field:optional?%>
  if (<% > field/member%>) <% > field/member%>->__clear();
<%/field:optional?%>
<%/field:cpp_ref_shared?%>
<%#field:cpp_ref_shared_const?%>
<%^field:optional?%>
  if (<% > field/member%>) <% > field/member%> = ::apache::thrift::detail::make_mutable_smart_ptr<<%field:cpp_storage_type%>>();
<%/field:optional?%>
<%/field:cpp_ref_shared_const?%>
<%#field:cpp_ref?%>
<%#field:optional?%>
  <% > field/member%>.reset();
<%/field:optional?%>
<%/field:cpp_ref?%>
<%/type:non_empty_struct?%>
<%/field:type%><%/struct:fields%>
<%#struct:lazy_fields?%>
  __fbthrift_serializedData_ = {};
  __fbthrift_isDeserialized_.~__fbthrift_IsDeserialized();
  new (&__fbthrift_isDeserialized_) __fbthrift_IsDeserialized();
<%/struct:lazy_fields?%>
<%#struct:isset_fields?%>
  __isset = {};
<%/struct:isset_fields?%>
}
