<%!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>

namespace apache {
namespace thrift {
namespace detail {

void TccStructTraits<<% > common/namespace_cpp2%><%struct:name%>>::translateFieldName(
    FOLLY_MAYBE_UNUSED folly::StringPiece _fname,
    FOLLY_MAYBE_UNUSED int16_t& fid,
    FOLLY_MAYBE_UNUSED apache::thrift::protocol::TType& _ftype) noexcept {
  <%#struct:fields?%>
  using TType = apache::thrift::protocol::TType;
  constexpr size_t _size = <%struct:fields_size%>;
  static constexpr folly::StringPiece _names[] = {
    <%#struct:fields%>
    "<%field:name%>",
    <%/struct:fields%>
  };
  static constexpr int16_t _ids[] = {
    <%#struct:fields%>
    <%field:key%>,
    <%/struct:fields%>
  };
  static constexpr TType _types[] = {
    <%#struct:fields%><%#field:type%>
    TType::<% > module_types_tcc/struct_type%>,
    <%/field:type%><%/struct:fields%>
  };
  static constexpr st::translate_field_name_table
      table{_size, _names, _ids, _types};
  st::translate_field_name(_fname, fid, _ftype, table);
  <%/struct:fields?%>
}

} // namespace detail
} // namespace thrift
} // namespace apache
<%!
%>
