*~

# autoreconf artifacts
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.guess
/config.hin
/configure

# Configure artifacts
# Can't include all Makefiles, since some are non-autoconf
.deps
.dirstamp
/Makefile
/compiler/Makefile
/compiler/py/Makefile
/compiler/version.h
/config.h
/config.log
/config.status
/lib/Makefile
/lib/cpp/Makefile
/lib/cpp2/Makefile
/lib/cpp2/test/Makefile
/lib/thrift/Makefile
/libtool
/stamp-h1
/m4/libtool.m4
/m4/lt*

# Build artifacts
.libs
*.o
*.lo
*.a
*.la
gen-cpp
gen-cpp2
/.python-local/

/compiler/thrifty.hh
/compiler/thrift1
/compiler/thriftl.cc
/compiler/thrifty.cc
/compiler/py/build/
/compiler/py/frontend.so
