{{!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}package {{struct:javaPackage}};

import com.facebook.swift.codec.*;
import com.facebook.swift.codec.ThriftField.Requiredness;
import com.facebook.swift.codec.ThriftField.Recursiveness;
import java.util.*;
{{^struct:exception?}}

import static com.google.common.base.MoreObjects.toStringHelper;
{{/struct:exception?}}

@ThriftStruct("{{struct:name}}")
public final class {{struct:javaCapitalName}}{{#struct:exception?}} extends Exception{{/struct:exception?}}
{
{{#struct:exception?}}
    private static final long serialVersionUID = 1L;

{{/struct:exception?}}
    @ThriftConstructor
    public {{struct:javaCapitalName}}(
        {{#struct:fields}}
        @ThriftField(value={{field:key}}, name="{{field:name}}", requiredness={{> Requiredness}}) final {{> FieldType}} {{field:javaName}}{{^last?}},{{/last?}}
        {{/struct:fields}}
    ) {
        {{#struct:fields}}
        this.{{field:javaName}} = {{field:javaName}};
        {{/struct:fields}}
    }

    public static class Builder {
        {{#struct:fields}}
        private {{> FieldType}} {{field:javaName}};

        public Builder set{{field:javaCapitalName}}({{> FieldType}} {{field:javaName}}) {
            this.{{field:javaName}} = {{field:javaName}};
            return this;
        }
        {{/struct:fields}}

        public Builder() { }
        public Builder({{struct:javaCapitalName}} other) {
            {{#struct:fields}}
            this.{{field:javaName}} = other.{{field:javaName}};
            {{/struct:fields}}
        }

        public {{struct:javaCapitalName}} build() {
            return new {{struct:javaCapitalName}} (
                {{#struct:fields}}
                this.{{field:javaName}}{{^last?}},{{/last?}}
                {{/struct:fields}}
            );
        }
    }
    {{#struct:fields}}

    private final {{> FieldType}} {{field:javaName}};

    @ThriftField(value={{field:key}}, name="{{field:name}}", requiredness={{> Requiredness}})
    public {{> FieldType}} {{#field:type}}{{#type:bool?}}is{{/type:bool?}}{{^type:bool?}}get{{/type:bool?}}{{/field:type}}{{field:javaCapitalName}}() { return {{field:javaName}}; }
    {{/struct:fields}}
    {{^struct:exception?}}

    @Override
    public String toString()
    {
        return toStringHelper(this)
            {{#struct:fields}}
            .add("{{field:javaName}}", {{field:javaName}})
            {{/struct:fields}}
            .toString();
    }

    @Override
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }

        {{struct:javaCapitalName}} other = ({{struct:javaCapitalName}})o;

        return
            {{#struct:fields}}
            Objects.equals({{field:javaName}}, other.{{field:javaName}}){{^last?}} &&{{/last?}}{{#last?}};{{/last?}}
            {{/struct:fields}}
            {{^struct:fields}}
            true;
            {{/struct:fields}}
    }

    @Override
    public int hashCode() {
        return Arrays.deepHashCode(new Object[] {
            {{#struct:fields}}
            {{field:javaName}}{{^last?}},{{/last?}}
            {{/struct:fields}}
        });
    }
    {{/struct:exception?}}
}
