{{!

  Copyright (c) Meta Platforms, Inc. and affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}
{{#service:functions}}{{!
}}{{#let function_comma = (if function:params.fields? ", " null)}}
{{#if (not function:starts_interaction?)}}
{{#function:return_type}}
{{#if (not function:event_based?)}}
  virtual {{#partial server.sync_return_type function=function:self service=service:self}} sync_{{function:cpp_name}}({{#partial server.sync_return_param function=function:self}}{{#partial server.function_param_list_commented_out function=function:self}});
  [[deprecated("Use sync_{{function:cpp_name}} instead")]] virtual {{#partial server.sync_return_type function=function:self service=service:self}} {{function:cpp_name}}({{#partial server.sync_return_param function=function:self}}{{#partial server.function_param_list_commented_out function=function:self}});
{{^service:interaction?}}
  virtual folly::Future<{{#partial server.return_type_lift_unit function=function:self service=service:self}}> future_{{function:cpp_name}}({{#partial server.function_param_list function=function:self}});
{{/service:interaction?}}
  virtual folly::SemiFuture<{{#partial server.return_type_lift_unit function=function:self service=service:self}}> semifuture_{{function:cpp_name}}({{#partial server.function_param_list function=function:self}});
#if FOLLY_HAS_COROUTINES
  virtual folly::coro::Task<{{#partial server.return_type function=function:self service=service:self}}> co_{{function:cpp_name}}({{#partial server.function_param_list function=function:self}});
  virtual folly::coro::Task<{{#partial server.return_type function=function:self service=service:self}}> co_{{function:cpp_name}}(apache::thrift::RequestParams params{{function_comma}}{{#partial server.function_param_list function=function:self}});
#endif
{{/if (not function:event_based?)}}
{{#function:oneway?}}
  virtual void async_{{#if function:event_based?}}eb{{#else}}tm{{/if}}_{{function:cpp_name}}(apache::thrift::HandlerCallbackOneWay::Ptr callback{{function_comma}}{{#partial server.function_param_list function=function:self}});
{{/function:oneway?}}
{{^function:oneway?}}
  virtual void async_{{#if function:event_based?}}eb{{#else}}tm{{/if}}_{{function:cpp_name}}(apache::thrift::HandlerCallbackPtr<{{#partial server.return_type function=function:self service=service:self}}> callback{{function_comma}}{{#partial server.function_param_list function=function:self}});
{{/function:oneway?}}
{{/function:return_type}}
{{#else}}
  virtual std::unique_ptr<{{function:created_interaction.name}}If> {{function:cpp_name}}();
{{/if (not function:starts_interaction?)}}
{{/service:functions}}
 private:
{{^service:interaction?}}
  static {{service:qualified_name}}ServiceInfoHolder __fbthrift_serviceInfoHolder;
{{/service:interaction?}}
{{#service:functions}}
{{#if (not function:event_based?)}}
  std::atomic<apache::thrift::detail::si::InvocationType> __fbthrift_invocation_{{function:cpp_name}}{apache::thrift::detail::si::InvocationType::AsyncTm};
{{/if (not function:event_based?)}}
{{/service:functions}}
