{{!

  Copyright (c) Meta Platforms, Inc. and affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}
{{#import "common/types" as types}}

{{! Defines the mapping of a thrift type to the Java RpcPayloadUtil field constant. }}
{{#let export partial rpc_field_type |type|}}
  {{#pragma ignore-newlines}}
{{#if type.string_or_binary?}}com.facebook.thrift.util.RpcPayloadUtil.STRING_FIELD
{{#else if type.bool?}}com.facebook.thrift.util.RpcPayloadUtil.BOOL_FIELD
{{#else if type.byte?}}com.facebook.thrift.util.RpcPayloadUtil.BYTE_FIELD
{{#else if type.i16?}}com.facebook.thrift.util.RpcPayloadUtil.I16_FIELD
{{#else if type.i32?}}com.facebook.thrift.util.RpcPayloadUtil.I32_FIELD
{{#else if type.i64?}}com.facebook.thrift.util.RpcPayloadUtil.I64_FIELD
{{#else if type.double?}}com.facebook.thrift.util.RpcPayloadUtil.DOUBLE_FIELD
{{#else if type.float?}}com.facebook.thrift.util.RpcPayloadUtil.FLOAT_FIELD
{{#else if type.enum?}}com.facebook.thrift.util.RpcPayloadUtil.I32_FIELD
{{#else if type.structured?}}com.facebook.thrift.util.RpcPayloadUtil.STRUCT_FIELD
{{#else if type.list?}}com.facebook.thrift.util.RpcPayloadUtil.LIST_FIELD
{{#else if type.set?}}com.facebook.thrift.util.RpcPayloadUtil.SET_FIELD
{{#else if type.map?}}com.facebook.thrift.util.RpcPayloadUtil.MAP_FIELD
{{/if type.string_or_binary?}}
{{/let partial}}

{{! Writes a Thrift value to the protocol for response/sink types.
    Takes a type object and a depth integer (suffix for _iter variables).
    The top-level call site passes depth=0, meaning the value is in _iter0.
    Recurses into containers, incrementing depth for each nesting level. }}
{{#let export partial write_response_type |type depth| captures |types|}}
{{#if type.typedef?}}{{!
}}{{#partial write_response_type type=type.resolved depth=depth}}{{!
}}{{#else if type.set?}}oprot.writeSetBegin(new TSet(TType.{{#partial types.ttype type=type.elem_type}}, _iter{{depth}}.size()));
for ({{#partial types.java_type type=type.elem_type}} _iter{{(int.add depth 1)}} : _iter{{depth}}) {
  {{#partial write_response_type type=type.elem_type depth=(int.add depth 1)}}
}
oprot.writeSetEnd();
{{#else if type.list?}}oprot.writeListBegin(new TList(TType.{{#partial types.ttype type=type.elem_type}}, _iter{{depth}}.size()));
for ({{#partial types.java_type type=type.elem_type}} _iter{{(int.add depth 1)}} : _iter{{depth}}) {
  {{#partial write_response_type type=type.elem_type depth=(int.add depth 1)}}
}
oprot.writeListEnd();
{{#else if type.map?}}oprot.writeMapBegin(new TMap(TType.{{#partial types.ttype type=type.key_type}}, TType.{{#partial types.ttype type=type.val_type}}, _iter{{depth}}.size()));
for (Map.Entry<{{#partial types.boxed_type type=type.key_type type_isAdapterSet=false field_hasAdapter=false}}, {{#partial types.boxed_type type=type.val_type type_isAdapterSet=false field_hasAdapter=false}}> _iter{{(int.add depth 1)}} : _iter{{depth}}.entrySet()) {
  {
    {{#partial types.boxed_type type=type.key_type type_isAdapterSet=false field_hasAdapter=false}} _iter{{(int.add depth 2)}} = _iter{{(int.add depth 1)}}.getKey();
    {{#partial write_response_type type=type.key_type depth=(int.add depth 2)}}
  }
  {
    {{#partial types.boxed_type type=type.val_type type_isAdapterSet=false field_hasAdapter=false}} _iter{{(int.add depth 2)}} = _iter{{(int.add depth 1)}}.getValue();
    {{#partial write_response_type type=type.val_type depth=(int.add depth 2)}}
  }
}
oprot.writeMapEnd();
{{#else if type.structured?}}_iter{{depth}}.write0(oprot);
{{#else if type.enum?}}oprot.writeI32(_iter{{depth}} == null ? 0 : _iter{{depth}}.getValue());
{{#else if type.binary?}}{{!
}}{{#if (string.empty? type.javaType)}}oprot.writeBinary(java.nio.ByteBuffer.wrap(_iter{{depth}}));
{{#else}}oprot.writeBinary(_iter{{depth}});
{{/if (string.empty? type.javaType)}}{{!
}}{{#else if type.string?}}oprot.writeString(_iter{{depth}});
{{#else if type.bool?}}oprot.writeBool(_iter{{depth}});
{{#else if type.byte?}}oprot.writeByte(_iter{{depth}});
{{#else if type.i16?}}oprot.writeI16(_iter{{depth}});
{{#else if type.i32?}}oprot.writeI32(_iter{{depth}});
{{#else if type.i64?}}oprot.writeI64(_iter{{depth}});
{{#else if type.float?}}oprot.writeFloat(_iter{{depth}});
{{#else if type.double?}}oprot.writeDouble(_iter{{depth}});
{{/if type.typedef?}}{{!
}}{{/let partial}}

{{! Renders a nested value expression, optionally wrapped with an adapter's toThrift() call.
    Takes adapter_name (the typedef name for the adapter, or empty string if no adapter),
    has_adapter (boolean, whether to apply the adapter wrapping),
    and depth (the _iter variable suffix for the current value). }}
{{#let export partial write_nested_type |adapter_name has_adapter depth|}}
  {{#pragma ignore-newlines}}
{{#if has_adapter}}__{{adapter_name}}_Adapter.toThrift(_iter{{depth}})
{{#else}}_iter{{depth}}
{{/if has_adapter}}
{{/let partial}}
