{{!

  Copyright (c) Meta Platforms, Inc. and affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}
public void write0(TProtocol oprot) throws TException {
  if (this.id != 0 && this.value == null ){
    if(allowNullFieldValues) {
      // Warning: this path will generate corrupt serialized data!
      return;
    } else {
      throw new TProtocolException("Cannot write a Union with marked-as-set but null value!");
    }
  }
  oprot.writeStructBegin(STRUCT_DESC);
  switch (this.id) {
  {{#struct:fields}}
  case _{{field:javaAllCapsName}}: {
    {{#field:hasAdapter?}}
    {{#field:type}}{{#partial types.adapted_field_boxed_type type=type:self field_hasAdapter=field:hasAdapter?}}{{/field:type}} _fbthriftVar0 = {{#partial field.to_thrift_start field=field:self}}({{#partial types.field_type field=field:self}})this.value{{#partial field.to_thrift_end field=field:self}};
    if (_fbthriftVar0 != null) {
      oprot.writeFieldBegin({{field:javaTFieldName}});

      {{#field:type}}{{#partial types.write_type field=field:self type=type:self depth=field:nestedDepth}}{{/field:type}}
      oprot.writeFieldEnd();
    }
    {{/field:hasAdapter?}}
    {{^field:hasAdapter?}}
    oprot.writeFieldBegin({{field:javaTFieldName}});
    {{#partial types.field_type field=field:self}} _fbthriftVar0 = ({{#partial types.field_type field=field:self}})this.value;

    {{#field:type}}{{#partial types.write_type field=field:self type=type:self depth=field:nestedDepth}}{{/field:type}}
    oprot.writeFieldEnd();
    {{/field:hasAdapter?}}
    break;
  }
  {{/struct:fields}}
  default:
      // ignore unknown field
  }
  oprot.writeFieldStop();
  oprot.writeStructEnd();
}
{{! terminate with newline }}
