{{!

  Copyright (c) Meta Platforms, Inc. and affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}{{! Empty constructor, no allocator, init list !}}
{{#pragma ignore-newlines}}
{{struct:cpp_underlying_name}}()
{{#each (array.enumerate struct:explicitly_constructed_fields with_first=true with_last=true) as |i field first? last?|}}
{{> common/colon_newline}}    {{field.cpp_storage_name}}(
{{#if field.cpp_ref_not_boxed?}}{{#partial module_types.smart_ptr_constructor field=field}}
{{#else if field.boxed_ref?}}{{#partial fields.default_value field=field}}
  {{! TODO(dokwon): Support custom default for intern boxed field. }}
{{#else if field.intern_boxed_ref?}}{{field.cpp_storage_type}}::fromStaticConstant(&::apache::thrift::op::getDefault<{{#partial fields.tag field=field struct=struct:self}}>())
  {{! Use value initialization when no custom default is provided. }}
{{#else if (and (not field.cpp_ref?) (object.notnull? field.default_value))}}{{#partial fields.default_value field=field}}{{/if field.cpp_ref_not_boxed?}}
){{> common/comma_newline}}
{{/each}}
