<%!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><%#struct:fields%><%#field:type%>
<%#field:cpp_ref?%>
  template <typename ..., typename T = <% > types/ref_type%>>
  FOLLY_ERASE T& <%field:cpp_name%>_ref() & { return <%field:cpp_name%>; }

  template <typename ..., typename T = <% > types/ref_type%>>
  FOLLY_ERASE const T& <%field:cpp_name%>_ref() const& { return <%field:cpp_name%>; }

  template <typename ..., typename T = <% > types/ref_type%>>
  FOLLY_ERASE T&& <%field:cpp_name%>_ref() && { return std::move(<%field:cpp_name%>); }

  template <typename ..., typename T = <% > types/ref_type%>>
  FOLLY_ERASE const T&& <%field:cpp_name%>_ref() const&& { return std::move(<%field:cpp_name%>); }
<%/field:cpp_ref?%>
<%^field:cpp_ref?%>
<%#field:optional?%>

THRIFT_IGNORE_ISSET_USE_WARNING_BEGIN
  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::optional_field_ref<const T&> <%field:cpp_name%>_ref() const& {
    return {this-><%field:cpp_name%>, __isset.<%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::optional_field_ref<const T&&> <%field:cpp_name%>_ref() const&& {
    return {std::move(this-><%field:cpp_name%>), __isset.<%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::optional_field_ref<T&> <%field:cpp_name%>_ref() & {
    return {this-><%field:cpp_name%>, __isset.<%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::optional_field_ref<T&&> <%field:cpp_name%>_ref() && {
    return {std::move(this-><%field:cpp_name%>), __isset.<%field:cpp_name%>};
  }
THRIFT_IGNORE_ISSET_USE_WARNING_END
<%/field:optional?%>
<%^field:optional?%>
<%#field:required?%>
  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE auto <%field:cpp_name%>_ref() const& {
    return ::apache::thrift::required_field_ref<const T&>{this-><%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE auto <%field:cpp_name%>_ref() const&& {
    return ::apache::thrift::required_field_ref<const T&&>{std::move(this-><%field:cpp_name%>)};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE auto <%field:cpp_name%>_ref() & {
    return ::apache::thrift::required_field_ref<T&>{this-><%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE auto <%field:cpp_name%>_ref() && {
    return ::apache::thrift::required_field_ref<T&&>{std::move(this-><%field:cpp_name%>)};
  }
<%/field:required?%>
<%^field:required?%>

THRIFT_IGNORE_ISSET_USE_WARNING_BEGIN
  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::field_ref<const T&> <%field:cpp_name%>_ref() const& {
    return {this-><%field:cpp_name%>, __isset.<%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::field_ref<const T&&> <%field:cpp_name%>_ref() const&& {
    return {std::move(this-><%field:cpp_name%>), __isset.<%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::field_ref<T&> <%field:cpp_name%>_ref() & {
    return {this-><%field:cpp_name%>, __isset.<%field:cpp_name%>};
  }

  template <typename..., typename T = <% > types/type%>>
  FOLLY_ERASE ::apache::thrift::field_ref<T&&> <%field:cpp_name%>_ref() && {
    return {std::move(this-><%field:cpp_name%>), __isset.<%field:cpp_name%>};
  }
THRIFT_IGNORE_ISSET_USE_WARNING_END
<%/field:required?%><%/field:optional?%>
<%/field:cpp_ref?%><%/field:type%><%/struct:fields%>
<%#struct:mixin_fields%>
  FOLLY_ERASE auto <%mixin:field_name%>_ref() &       { return <%mixin:name%>.<%mixin:field_name%>_ref();            }
  FOLLY_ERASE auto <%mixin:field_name%>_ref() const&  { return <%mixin:name%>.<%mixin:field_name%>_ref();            }
  FOLLY_ERASE auto <%mixin:field_name%>_ref() &&      { return std::move(<%mixin:name%>).<%mixin:field_name%>_ref(); }
  FOLLY_ERASE auto <%mixin:field_name%>_ref() const&& { return std::move(<%mixin:name%>).<%mixin:field_name%>_ref(); }
<%/struct:mixin_fields%>
