<%!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><%^struct:deprecated_tag_incompatible?%><%#struct:thrift_uri%>
  using __fbthrift_fields = ::apache::thrift::type::fields<
  <%#struct:fields%>
    <%field:type_tag%><%^last?%>,<%/last?%>
  <%/struct:fields%>
  >;

  static constexpr std::size_t __fbthrift_field_size_v = <%struct:fields_size%>;

<%#struct:fields?%>
  static constexpr ::apache::thrift::FieldId __fbthrift_field_ids[] = {<%#struct:fields%>::apache::thrift::FieldId{<%field:key%>}, <%/struct:fields%>};
<%/struct:fields?%>
  
  <%#struct:fields%>
  static ::apache::thrift::tag::<%field:cpp_name%> __fbthrift_ident(::apache::thrift::type::field_id_u_c<<%field:key%>>);
  <%/struct:fields%>

  static constexpr ::apache::thrift::FieldOrdinal __fbthrift_field_id_to_ordinal(::apache::thrift::FieldId id) {
    switch (::folly::to_underlying(id)) {
      <%#struct:fields%>
      case <%field:key%>: return ::apache::thrift::FieldOrdinal{<%field:ordinal%>};
      <%/struct:fields%>
    }
    return ::apache::thrift::FieldOrdinal{0};
  }

<%/struct:thrift_uri%><%/struct:deprecated_tag_incompatible?%>
