<%!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%><%^program:tablebased?%>
template <class Protocol_>
void <%struct:name%>::readNoXfer(Protocol_* iprot) {
<%#struct:lazy_fields?%>
  constexpr bool kIsProtocolSupported =
      apache::thrift::ProtocolType::T_COMPACT_PROTOCOL == Protocol_::protocolType();
<%/struct:lazy_fields?%>
  apache::thrift::detail::ProtocolReaderStructReadState<Protocol_> _readState;

  _readState.readStructBegin(iprot);

  using apache::thrift::TProtocolException;

<%#program:enforce_required?%><%#struct:fields%><%#field:required?%>
  bool isset_<%field:cpp_name%> = false;
<%/field:required?%><%/struct:fields%><%/program:enforce_required?%>

<%#struct:fields?%>
<%#struct:fields%>
<%#field:type%>
<%#first?%>
  if (UNLIKELY(!_readState.advanceToNextField(
          iprot,
          0,
          <%field:key%>,
          apache::thrift::protocol::<% > module_types_tcc/struct_type%>))) {
    goto _loop;
  }
<%/first?%>
_readField_<%field:cpp_name%>:
<%#field:lazy?%>
  if constexpr (kIsProtocolSupported) {
    auto cursor = iprot->getCursor();
    iprot->skip(apache::thrift::protocol::<% > module_types_tcc/struct_type%>);
    cursor.clone(__fbthrift_serializedData_.<%field:cpp_name%>, iprot->getCursor() - cursor);
    __fbthrift_serializedData_.<%field:cpp_name%>.makeManaged();
    __fbthrift_isDeserialized_.<%field:cpp_name%> = false;
  } else {
<%/field:lazy?%>
<%^field:lazy?%>
  {
<%/field:lazy?%>
    <% > module_types_tcc/deserialize_struct_field%>

  }

<%^last?%>
<%#field:next_field_type%>
  if (UNLIKELY(!_readState.advanceToNextField(
          iprot,
          <%field:key%>,
          <%field:next_field_key%>,
          apache::thrift::protocol::<% > module_types_tcc/struct_type%>))) {
    goto _loop;
  }
<%/field:next_field_type%>
<%/last?%>
<%#last?%>
  if (UNLIKELY(!_readState.advanceToNextField(
          iprot,
          <%field:key%>,
          0,
          apache::thrift::protocol::T_STOP))) {
    goto _loop;
  }
<%/last?%>
<%/field:type%>
<%/struct:fields%>
<%/struct:fields?%>
<%^struct:fields?%>
  if (UNLIKELY(!_readState.advanceToNextField(
          iprot,
          0,
          0,
          apache::thrift::protocol::T_STOP))) {
    goto _loop;
  }
<%/struct:fields?%>

_end:
  _readState.readStructEnd(iprot);

  <%#program:enforce_required?%><%#struct:fields%><%#field:required?%>
  if (!isset_<%field:cpp_name%>) {
    TProtocolException::throwMissingRequiredField("<%field:name%>", "<%struct:name%>");
  }
  <%/field:required?%><%/struct:fields%><%/program:enforce_required?%>
  return;

_loop:
  _readState.afterAdvanceFailure(iprot);
  if (_readState.atStop()) {
    goto _end;
  }
  if (iprot->kUsesFieldNames()) {
    _readState.template fillFieldTraitsFromName<apache::thrift::detail::TccStructTraits<<%struct:name%>>>();
  }

  switch (_readState.fieldId) {
<%#struct:fields%><%#field:type%>
    case <%field:key%>:
    {
      if (LIKELY(_readState.isCompatibleWithType(iprot, apache::thrift::protocol::<% > module_types_tcc/struct_type%>))) {
        goto _readField_<%field:cpp_name%>;
      } else {
        goto _skip;
      }
    }
<%/field:type%><%/struct:fields%>
    default:
    {
<%#struct:fields?%>
_skip:
<%/struct:fields?%>
      _readState.skip(iprot);
      _readState.readFieldEnd(iprot);
      _readState.readFieldBeginNoInline(iprot);
      goto _loop;
    }
  }
}
<%#struct:lazy_fields?%>
<%#struct:fields%>
<%#field:type%>
<%#field:lazy?%>
const <% > types/ref_type%>& <%struct:name%>::__fbthrift_read_field_<%field:cpp_name%>() const {

  if (__fbthrift_isDeserialized_.<%field:cpp_name%>) {
    return <%field:cpp_name%>;
  }

  std::lock_guard<std::mutex> lock(__fbthrift_deserializationMutex_.<%field:cpp_name%>);
  if (!__fbthrift_isDeserialized_.<%field:cpp_name%>) {
<%#field:cpp_ref?%>
    auto ptr = ::apache::thrift::detail::make_mutable_smart_ptr<<% > types/ref_type%>>();
<%/field:cpp_ref?%>
<%^field:cpp_ref?%>
    auto* ptr = &this-><%field:cpp_name%>;
<%#type:resolves_to_container?%>
    this-><%field:cpp_name%> = <% > types/type%>(<%#type:cpp_use_allocator?%>this->get_allocator()<%/type:cpp_use_allocator?%>);
<%/type:resolves_to_container?%>
<%/field:cpp_ref?%>

    ::apache::thrift::CompactProtocolReader reader;
    reader.setInput(&__fbthrift_serializedData_.<%field:cpp_name%>);
    ::apache::thrift::detail::pm::protocol_methods<<% > common/type_class%>, <% > types/type%>>::read(reader, *ptr);

<%#field:cpp_ref?%>
    this-><%field:cpp_name%> = std::move(ptr);
<%/field:cpp_ref?%>

    __fbthrift_isDeserialized_.<%field:cpp_name%> = true;
  }
  return <%field:cpp_name%>;
}

<% > types/ref_type%>& <%struct:name%>::__fbthrift_read_field_<%field:cpp_name%>() {
  std::as_const(*this).__fbthrift_read_field_<%field:cpp_name%>();
  return <%field:cpp_name%>;
}
<%/field:lazy?%>
<%/field:type%>
<%/struct:fields%>
<%/struct:lazy_fields?%>
<%/program:tablebased?%>
<%#program:tablebased?%>
template <class Protocol_>
void <%struct:name%>::readNoXfer(Protocol_* iprot) {
  ::apache::thrift::detail::read(
    iprot,
    ::apache::thrift::detail::toStructInfo(
      <% > common/namespace_cpp2%>__fbthrift_struct_info_<%struct:name%>
    ),
    this);
}
<%/program:tablebased?%>
<%!
%>
