{{^function:oneway?}}
return client->header_semifuture_{{function:cppName}}(
  rpcOptions{{#function:args}},
  arg_{{field:py_name}}{{/function:args}}
).deferValue([&](auto pair){
    auto& header = *pair.second;
    if (!header.getHeaders().empty()) {
      rpcOptions.setReadHeaders(header.releaseHeaders());
    }
    return std::move(pair.first);
});
{{/function:oneway?}}
{{#function:oneway?}}
return client->semifuture_{{function:cppName}}(
  rpcOptions{{#function:args}},
  arg_{{field:py_name}}{{/function:args}}
);
{{/function:oneway?}}
