# OpenSSL config file to be used for generating certificates for testing. See
# README.ssl for more details.

dir = .
new_certs_dir = $dir
default_md = md5
default_days = 365
default_bits = 2048

[ca]
default_ca = test_ca
RANDFILE = $dir/.openssl.rand

[test_ca]
certificate = $dir/ca-cert.pem
private_key = $dir/ca-key.pem
database = $dir/ca.db
policy = test_ca_policy
serial = $dir/ca.serial

[test_ca_policy]
commonName = supplied

[req]
distinguished_name = req_distinguished_name

[req_distinguished_name]
commonName      = Common Name (eg, your name or your server\'s hostname)
