<%!

  Copyright 2016 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>return yarpl::flowable::internal::flowableFromSubscriber<std::unique_ptr<folly::IOBuf>>(
        [this, rpcOptions<%function:comma%><% > service_common/param_list_move_assignment %>](
                       apache::thrift::StreamRequestCallback::SubscriberRef
                           _subscriber) mutable {
         auto _callback = std::make_unique<
             apache::thrift::StreamRequestCallback>(
             <%#function:takes_stream?%>
             apache::thrift::RpcKind::STREAMING_REQUEST_STREAMING_RESPONSE);
             <%/function:takes_stream?%>
             <%^function:takes_stream?%>
             apache::thrift::RpcKind::SINGLE_REQUEST_STREAMING_RESPONSE);
             <%/function:takes_stream?%>
         // Connect the inputs of the callback
         <%#function:returns_stream?%>
         _callback->subscribeToOutput(_subscriber);
         <%/function:returns_stream?%>
         <%#function:takes_stream?%>
         <%#function:args%><%#field:type%><%#first?%>
         auto _encodedInput = <%field:name%>->map([](const <%#type:streamElemType%><% > types/type %><%/type:streamElemType%>& _item) {
         <%/first?%><%/field:type%><%/function:args%>
           using codec = apache::thrift::CompactSerializer;
           return codec::serialize<folly::IOBufQueue>(_item).move();
         });
         _callback->setInput(std::move(_encodedInput));
         <%/function:takes_stream?%>
         // Perform the RPC call
         <%function:name%>(rpcOptions, std::move(_callback)<%function:comma_nostream%><% > service_common/param_list_without_streams_move %>);
       })
    ->map([](auto buffer) {
      using codec = apache::thrift::CompactSerializer;
      return codec::deserialize<<%#type:streamElemType%><% > types/type %><%/type:streamElemType%>>(buffer.get());
    });
