{{!

  Copyright (c) Facebook, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}

    #[derive(Copy, Clone, Eq, PartialEq, Ord, PartialOrd, Hash{{!
        }}{{#program:serde?}}, ::serde_derive::Serialize, ::serde_derive::Deserialize{{/program:serde?}}{{!
    }})]
    pub struct {{enum:rust_name}}(pub ::std::primitive::i32);

    impl {{enum:rust_name}} {{>lib/block}}{{!
        }}{{#enum:values}}
        pub const {{enumValue:rust_name}}: Self = {{!
            }}{{enum:rust_name}}({{enumValue:value}}i32);{{!
        }}{{/enum:values}}

        pub fn variants() -> &'static [&'static str] {
            &[
                {{#enum:values}}
                "{{enumValue:name}}",
                {{/enum:values}}
            ]
        }
    }

    impl ::std::default::Default for {{enum:rust_name}} {
        fn default() -> Self {
            {{enum:rust_name}}(::fbthrift::__UNKNOWN_ID)
        }
    }

    impl<'a> ::std::convert::From<&'a {{enum:rust_name}}> for ::std::primitive::i32 {
        #[inline]
        fn from(x: &'a {{enum:rust_name}}) -> Self {
            x.0
        }
    }

    impl ::std::convert::From<{{enum:rust_name}}> for ::std::primitive::i32 {
        #[inline]
        fn from(x: {{enum:rust_name}}) -> Self {
            x.0
        }
    }

    impl ::std::convert::From<::std::primitive::i32> for {{enum:rust_name}} {
        #[inline]
        fn from(x: ::std::primitive::i32) -> Self {
            Self(x)
        }
    }

    impl ::std::fmt::Display for {{enum:rust_name}} {
        fn fmt(&self, fmt: &mut ::std::fmt::Formatter) -> ::std::fmt::Result {{>lib/block}}{{!
            }}{{#enum:values?}}
            let s: &::std::primitive::str = match *self {{>lib/block}}{{!
                }}{{#enum:values}}
                {{enum:rust_name}}::{{enumValue:rust_name}} => "{{enumValue:name}}",{{!
                }}{{/enum:values}}
                {{enum:rust_name}}(x) => return write!(fmt, "{}", x),
            };
            write!(fmt, "{}", s){{!
            }}{{/enum:values?}}{{!
            }}{{^enum:values?}}
            write!(fmt, "{}", self.0){{!
            }}{{/enum:values?}}
        }
    }

    impl ::std::fmt::Debug for {{enum:rust_name}} {
        fn fmt(&self, fmt: &mut ::std::fmt::Formatter) -> ::std::fmt::Result {
            write!(fmt, "{{enum:name}}::{}", self)
        }
    }

    impl ::std::str::FromStr for {{enum:rust_name}} {
        type Err = ::anyhow::Error;

        fn from_str(string: &::std::primitive::str) -> ::std::result::Result<Self, Self::Err> {
            match string {{>lib/block}}{{!
                }}{{#enum:values}}
                "{{enumValue:name}}" => ::std::result::Result::Ok({{enum:rust_name}}::{{enumValue:rust_name}}),{{!
                }}{{/enum:values}}
                _ => ::anyhow::bail!("Unable to parse {} as {{enum:name}}", string),
            }
        }
    }

    impl ::fbthrift::GetTType for {{enum:rust_name}} {
        const TTYPE: ::fbthrift::TType = ::fbthrift::TType::I32;
    }

    impl<P> ::fbthrift::Serialize<P> for {{enum:rust_name}}
    where
        P: ::fbthrift::ProtocolWriter,
    {
        #[inline]
        fn write(&self, p: &mut P) {
            p.write_i32(self.into())
        }
    }

    impl<P> ::fbthrift::Deserialize<P> for {{enum:rust_name}}
    where
        P: ::fbthrift::ProtocolReader,
    {
        #[inline]
        fn read(p: &mut P) -> ::anyhow::Result<Self> {
            ::std::result::Result::Ok({{enum:rust_name}}::from(p.read_i32()?))
        }
    }
{{!newline}}
