{{!

  Copyright 2019 Facebook, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}

    pub mod {{service:snake}} {
        use fbthrift::{
            ApplicationException, ApplicationExceptionErrorCode, Deserialize, ProtocolReader,
            ProtocolWriter, Serialize, TType,
        };{{!
        }}{{#service:functions}}

        #[derive(Clone, Debug)]
        pub enum {{function:upcamel}}Exn {
            Success({{#function:returnType}}{{>lib/type}}{{/function:returnType}}),{{!
            }}{{#function:exceptions}}
            {{field:ident}}({{#field:type}}{{>lib/type}}{{/field:type}}),{{!
            }}{{/function:exceptions}}
            ApplicationException(fbthrift::types::ApplicationException),
            UnknownField(i32),
        }

        impl Default for {{function:upcamel}}Exn {
            fn default() -> Self {
                {{function:upcamel}}Exn::UnknownField(-1)
            }
        }{{!
        }}{{#function:exceptions}}

        impl From<{{#field:type}}{{>lib/type}}{{/field:type}}> for {{function:upcamel}}Exn {
            fn from(exn: {{#field:type}}{{>lib/type}}{{/field:type}}) -> Self {
                {{function:upcamel}}Exn::{{field:ident}}(exn)
            }
        }{{!
        }}{{/function:exceptions}}

        impl From<ApplicationException> for {{function:upcamel}}Exn {
            fn from(exn: ApplicationException) -> Self {
                {{function:upcamel}}Exn::ApplicationException(exn)
            }
        }

        impl fbthrift::GetTType for {{function:upcamel}}Exn {
            const TTYPE: fbthrift::TType = fbthrift::TType::Struct;
        }

        impl<'a, P: ProtocolWriter> Serialize<P> for &'a {{function:upcamel}}Exn {
            fn write(self, p: &mut P) {
                p.write_struct_begin("{{function:upcamel}}");
                match self {
                    {{function:upcamel}}Exn::Success(inner) => {
                        p.write_field_begin(
                            "Success",
                            {{#function:returnType}}{{>lib/ttype}}{{/function:returnType}},
                            0i16,
                        );
                        inner.write(p);
                        p.write_field_end();
                    }{{!
                    }}{{#function:exceptions}}
                    {{function:upcamel}}Exn::{{field:ident}}(inner) => {
                        p.write_field_begin(
                            "{{field:name}}",
                            {{#field:type}}{{>lib/ttype}}{{/field:type}},
                            {{field:key}},
                        );
                        inner.write(p);
                        p.write_field_end();
                    }{{!
                    }}{{/function:exceptions}}
                    {{function:upcamel}}Exn::ApplicationException(_) => panic!(
                        "Bad union Alt field {} id {}",
                        "ApplicationException",
                        -2147483648i32,
                    ),
                    {{function:upcamel}}Exn::UnknownField(x) => {
                        p.write_field_begin("UnknownField", TType::I32, *x as i16);
                        x.write(p);
                        p.write_field_end();
                    }
                }
                p.write_field_stop();
                p.write_struct_end();
            }
        }

        impl<P: ProtocolReader> Deserialize<P> for {{function:upcamel}}Exn {
            fn read(p: &mut P) -> failure::Fallible<Self> {
                let _ = p.read_struct_begin(|_| ())?;
                let mut once = false;
                let mut alt: Option<_> = None;
                loop {
                    let (_, fty, fid) = p.read_field_begin(|_| ())?;
                    match ((fty, fid as i32), once) {
                        ((TType::Stop, _), _) => {
                            p.read_field_end()?;
                            break;
                        }
                        (({{#function:returnType}}{{>lib/ttype}}{{/function:returnType}}, 0i32), false) => {
                            once = true;
                            alt = Some({{function:upcamel}}Exn::Success(Deserialize::read(p)?));
                        }{{!
                        }}{{#function:exceptions}}
                        (({{#field:type}}{{>lib/ttype}}{{/field:type}}, {{field:key}}), false) => {
                            once = true;
                            alt = Some({{function:upcamel}}Exn::{{field:ident}}(Deserialize::read(p)?));
                        }{{!
                        }}{{/function:exceptions}}
                        ((ty, _id), false) => p.skip(ty)?,
                        ((badty, badid), true) => return Err(From::from(
                            ApplicationException::new(
                                ApplicationExceptionErrorCode::ProtocolError,
                                format!(
                                    "unwanted extra union {} field ty {:?} id {}",
                                    "{{function:upcamel}}Exn",
                                    badty,
                                    badid,
                                ),
                            )
                        )),
                    }
                    p.read_field_end()?;
                }
                p.read_struct_end()?;
                alt.ok_or(
                    ApplicationException::new(
                        ApplicationExceptionErrorCode::MissingResult,
                        format!("Empty union {}", "{{function:upcamel}}"),
                    )
                    .into(),
                )
            }
        }{{!
        }}{{/service:functions}}
    }
    {{!newline}}
